In [7]:
sum=count=done=0
average =0.0

while(done != -1):
    rating=float(input('Enter Next Rating (1-5),-1 for done'))
    if rating==-1:
        break;
    sum+=rating
    count+=1
average=float(sum/count)
print("The average star rating for the new coffee is : {:.2f}".format(average))
#print("The average star rating for the new coffee is : {:.2d}".format(average))
#print("The average star rating for the new coffee is : {:2f}".format(average))
#print("The average star rating for the new coffee is : {:2.2d}".format(average))

Enter Next Rating (1-5),-1 for done1
Enter Next Rating (1-5),-1 for done2
Enter Next Rating (1-5),-1 for done3
Enter Next Rating (1-5),-1 for done4
Enter Next Rating (1-5),-1 for done5
Enter Next Rating (1-5),-1 for done-1
The average star rating for the new coffee is : 3.00

In [8]:
print('V:{:.2f}'.format(123.45678)) # will print V: 123.46

V:123.46

In [9]:
print('V:{:.2f}'.format(123.4)) # will print V: 123.40

V:123.40

In [10]:
print('V:{:8.2f}'.format(1.45678)) # will print V: 1.46

V:    1.46

In [14]:
print('V:{:08.2f}'.format(1.45678)) # will print V: 00001.46

V:00001.46

In [22]:
name=input('Enter Your Name:')
score=0
count=0
sum=0
while(score!=-1):
    score=int(input('Enter your scores:(-1 to end)'))
    if score==-1:
        break
    sum+=score
    count+=1
average=sum/count
print('%-20s, Your avg Score is : %04.1f'%(name,average))

Enter Your Name:Meenal
Enter your scores:(-1 to end)1
Enter your scores:(-1 to end)2
Enter your scores:(-1 to end)3
Enter your scores:(-1 to end)4
Enter your scores:(-1 to end)-1
Meenal              , Your avg Score is : 02.5

In [23]:
numbers=[0,1,2,3,4,5,6,7,8,9]
index=0
while(index<10):
    print(numbers[index])
    if numbers[index]==6:
        break
    else:
        index+=1

0
1
2
3
4
5
6

In [26]:
emp_number=input("Enter Your Employee Number(dd-ddd-dddd)")
parts=emp_number.split('-')
valid=False
if len(parts)==3:
    if(len(parts[0])==2 and len(parts[1])==3 and len(parts[2])==4):
        if(parts[0].isdigit() and parts[1].isdigit and parts[2].isdigit()):
            valid=True
print(valid)

Enter Your Employee Number(dd-ddd-dddd)11-222-3333
True

In [28]:
def root(a,b):
    if a>=0:
        answer=a**(1/b)
    elif a%2==0:
        answer="Immaginary roots"
    else: 
        answer=(-a)**(1/b)
    return answer

In [29]:
print(root(2,3))

1.2599210498948732

In [30]:
print(root(-2,3))

Immaginary roots

In [31]:
print(root(-3,3))

1.4422495703074083

In [34]:
d=input("Enter day of a week:")
discount_per=3
if d=='Monday':
    discount_per+=5
elif d=='Tuesday':
    discount_per+=7
elif d=='Saturday':
    discount_per+=10
elif d=='Sunday':
    discount_per+=20
else:
    discount_per+=2
    
print(discount_per)

Enter day of a week:Thrusday
5

In [2]:
amount=float(input('Enter Loan Amount: '))
interest_rate=0

if amount>0 and amount<=50000:
    interest_rate=10
elif amount > 50000 and amount<100000:
    interest_rate=12
elif amount>=100000 and amount<150000:
    interest_rate=16
else:
    interest_rate=22
    
print(interest_rate)

Enter Loan Amount: 50001
12

In [8]:
days=int(input("Enter number of days for leave: "))
cause=input("Enter the cause: ")
if days==1:
    print('Leave will be approved immidiatly')
    
elif days>1 and days<=3:
    if cause=='Sick':
        print('Leave will be approved immidiately')
    else:
        print('Needs Lead Approval')
elif days>3 and days<5:
    if cause=='Sick':
        print('Needs Manager Approval')
    else:
        print('Needs Director Approval')
elif days>=5 and days<=10:
    print('Needs Director Approval')

Enter number of days for leave: 4
Enter the cause: personal
Needs Director Approval

In [10]:
marks=[30,40,50,45,50,100]
average=sum(marks)//len(marks)
grades={1:'A',2:'B',3:'C',4:'D'}
if average>=90 and average<=100:
    key=1
elif average>=80 and average<90:
    key=2
elif average>=50 and average<80:
    key=3
else:
    key=4

print(grades[key])

C

In [13]:
a=12
b=4
s='He shall not be happy if he does not work'
result=s.find('not') if s else None
print(result)

9

In [14]:
a=12
b=4
s='He shall not be happy if he does not work'
result=3 if None else a/b
print(result)

3.0

In [15]:
a=12
b=4
s='He shall not be happy if he does not work'
result=s.rfind('not') if s else None
print(result)

33

In [16]:
a=12
b=4
s='He shall not be happy if he does not work'
result=5 if len(s)>4 else 6
print(result)

5

In [18]:
collected_amount=3000
commission=0
if collected_amount<=2000:
    commission=50
elif collected_amount>2500 and collected_amount<3000:
    commission=100
elif collected_amount>2500:
    commission=150
    if collected_amount>=3000:
        commission+=200
        
print(commission)

350

In [20]:
order_value=1500
state='ap'
delivery_charge=0
if state in ['up','mp','ts']:
    if order_value<=1000:
        delivery_charge=50
    elif order_value>1000 and order_value<2000:
        delivery_charge=100
    else:
        delivery_charge=150
else:
    delivery_charge=25
if state in['lp','kp','ap']:
    if order_value>1000:
        delivery_charge+=20
    if order_value<2000 and state in ['kp','ap']:
        delivery_charge+=30
    else:
        delivery_charge+=15

print(delivery_charge)

75

In [22]:
l=[10,20,[30,40],[50,60]]
count=0
for i in range(len(l)):
    if(type(l[i])==list):
       count=count+1
       
print(count)

2

In [24]:
l=[10,(20,),{30},{},{},[40,50]]
count=0
for i in range(len(l)):
    if type(l[i])==list:
        count+=1
    elif type(l[i])==tuple:
        count+=2
    elif type(l[i])==set:
        count+=3
    elif  type(l[i])==dict:
        count+=4
    else:
        count+=5
        
print(count)

19

In [26]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        result+=t1
print(result)

13

In [28]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        continue
    else:
        result+=t1
print(result)

31

In [31]:
values=[[3,4,5,1],[33,6,1,2]]
v=values[0][0]
for lst in values:
    for element in lst:
        if v>element:
            v=element
print(v)

1

In [32]:
def get_names():
    names=['Sunny','Bunny','Chinny','Vinny','Pinny',]
    return names[2:]

def update_names(elements):
    new_names=[]
    for name in elements:
        new_names.append(name[:3].upper())
    return new_names

print(update_names(get_names()))

['CHI', 'VIN', 'PIN']

In [49]:
def my_list(a):
    lst.append(a)
    return lst

lst=[]
my_list('chicken')
my_list('mutton')
print(my_list('fish'))

['chicken', 'mutton', 'fish']

In [55]:
def f1(x=0,y=0):
    return x+y
f1()
f1(10,20)
f1('10','20')
f1(10)

10

In [56]:
def f1(x=0,y=0):
    return x*y
f1()

0

In [57]:
f1('10','20')

TypeError: can't multiply sequence by non-int of type 'str'

In [58]:
f1(10)

0

In [59]:
f1('10')

''

In [62]:
numbers=[100,20,10,70,50,60,40,30,90,80]

def find_numbers():
    numbers.sort()
#print(numbers)
    high=numbers[-1]
    low=numbers[0]
    return(high,low)

high,low=find_numbers()
print("The heigest Number:{} and Least Number: {}".format(high,low))

The heigest Number:100 and Least Number: 10

In [69]:
umbers=[100,20,10,70,50,60,40,30,90,80]

def find_numbers():
    numbers.sort()
    return(numbers[0],numbers[-1])

low=find_numbers()
high=find_numbers()
print(high[0],high[-1])
print(low[0],low[-1])
print(high[0],low[-1])

10 100
10 100
10 100

In [72]:
def calculate(amount=6,factor=3):
    if amount>6:
        return amount*factor
    else:
        return amount *factor*2
calculate()

36

In [73]:
calculate(10)

30

In [74]:
calculate(5,2)

20

In [75]:
calculate(1)

6

In [76]:
def fib_seq(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib_seq(n-1)+fib_seq(n-2)
for i in range(7):
    print(fib_seq(i),end=',')

0,1,1,2,3,5,8,

In [77]:
def get_name():
    name=input('Enter your name')
    return name
def calc_calories(miles,calories_per_mile):
    calories=miles*calories_per_mile
    return calories

distance=int(input('How many miles did you bike this week?'))
burn_rate=50
biker=get_name()
calories_burned=calc_calories(distance,burn_rate)
print(biker,",You burned about",calories_burned," Calories")

How many miles did you bike this week?200
Enter your nameMeenal
Meenal ,You burned about 10000  Calories

In [84]:
def get_rating(age):
    if age>=18:
        return'A'
    elif age>=13:
        return 'T'
    else :
        return 'c'
get_rating(15)

'T'

In [85]:
def count_letter(letter,word_list):
    count=0
    for word in word_list:
        if letter in word:
            count+=1
    return count

word_list=['apple','pears','orange','mango']
letter=input('Enter some alphabet symbol:')
letter_count=count_letter(letter,word_list)
print(letter_count)

Enter some alphabet symbol:a
4

In [90]:
startmsg='Hello'
endmsg=''
for i in range(0,len(startmsg)):

    endmsg=startmsg[i]+endmsg
print(endmsg)

olleH

In [91]:
x=[13,4,17,10]
w=x[1:]
u=x[1:]
y=x
u[0]=50
y[1]=40
print(x)

[13, 40, 17, 10]

In [1]:
p=2
while p<=200:
    is_prime=True
    for i in range(2,p):
        if p% i==0:
            is_prime=False
    if is_prime==True:
        print(p)
    p+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [7]:
rooms={1:'Left Conference Room', 2:'Right Conference Room'}
room=eval(input('Enter the Room number'))
if not room in rooms:
     print("Room doesn't exist")
else:
     print("The room name is:" + rooms[room])

Enter the Room number2
The room name is:Right Conference Room

In [16]:
rooms={1:'Left Conference Room', 2:'Right Conference Room'}
room=input('Enter the Room number')
if room not in rooms:
     print("Room doesn't exist")
else:
    print("The room name is:" + rooms[room])

Enter the Room number2
Room doesn't exist

In [20]:
marks=86
if 80<= marks<=100:
    print('A')

A

In [21]:
marks=86
if 80<=marks and marks<=100:
    print('A')

A